/* limpando as formatações padrões*/

*{
	margin:0;
	padding:0;
}



body {
    background: #e6e6e6; ;
    font-size: 1em;
    font font-family: "Trebuchet MS", Helvetca, sans-serif;
}
/*layout*/
#area-cabeçalho{
	background:#E5CF17;
	padding: 15px;
    text-align: center;
}

#area-logo,#area-menu{
	padding: 10px;

}
#area-principal{

	width: 920px;
	margin: 0 auto;
	padding: 15px;

}

}
#area-postagens{
	width: 660px;
	float: left;
	clear: right;
}
.postagens{
	padding: 20px;
	margin-bottom: 20px;
	background: white;
}

#area-lateral{
	width: 240px;
	float: right;
	clear: right;
	
}

#area-rodape{
	clear: both;
	text-align: center;
	padding: 15px;
	background: #ccc;
} 
a{
	 text-decoration: none;
}
 a:Link, a:Visited{
		color: #f7b600
		
	}
	# a:hover{
	text-decoration: underline;
	}
	#area-cabeçalho a:Link, #area-cabeçalho a:Visited{
		color: #fff;
		padding: 8px 12px;
	}
	#area-cabeçalho a:hover{
		color: #f7b600;
		background: #fff;
	}
/*formatações gerais*/

h1{
	color: #4e4e4e;
	font-size: 2.5em;
    }
    .branco{
    	color: white;
    }
    h2 {
    	color: #f7b600;
    }
.data-postagem{
	font-size: 0.8em;
	 border-bottom: 1px solid #ccc;
	 margin-bottom: 10px;
	 padding-bottom: 10px;
	 display: block;
}
